$dark-gray-color: #444444;
$white-color: #FFF;
$blue-background-color: #3464E0;
$blue-button-color: #1740AA;
$blue-light-color: #9CBAF0;
$blue-lighter-color:#C3CAD6;
$red-color: #E06364;

$desktop-width: 1440px;
$tables-width: 768px;

$transition-duration: 1s;

